<h1>Total Palabras: <%= @palabras.count %></h1>

 <table class="table table-dark">
  <tr>
    <th>Content</th>
    <th>Language</th>
    <th>Author</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Remove</th>
  </tr>
  <% @palabras.each do |palabra| %>
  <tr>
    <td><%= palabra.content %></td>
    <td><%= palabra.language.name %></td>
    <td><%= palabra.user&.email %></td>
    <td><%= link_to 'Show', palabra_path(palabra) %></td>
    <td><%= link_to 'Edit', edit_palabra_path(palabra) %></td>
    <td><%= link_to 'Delete', palabra_path(palabra), method: :delete, data: { confirm: 'Are you sure?' }%></td>
  </tr>
  <% end %>
</table>

