    <h2 class="mt-3">All Palabras: </h2>
    <div class="pagin">
      <%= paginate @palabras, theme: 'twitter-bootstrap-4', class: 'styyle' %>
   </div>
 <table class="table table-dark">
  <tr>
    <th>Content</th>
    <th>Language</th>
    <th>Author</th>
    <th>Translations</th>
    <th>Links</th>
  </tr>
  <% @palabras.each do |palabra| %>
  <tr>
    <td><%= palabra.content %></td>
    <td><%= palabra.language.name %></td>
    <td><%= palabra.user.secret_email %></td>
    <td><%= palabra.translations.size %></td>
    <td><%= link_to palabra_path(palabra) do %>
      <i class="far fa-eye"></i>
    <% end %>
    <td><%= link_to edit_palabra_path(palabra) do %>
      <i class="fas fa-highlighter"></i>
    <% end %>
    <td><%= link_to palabra_path(palabra), method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="far fa-minus-square"></i>
    <% end %></td>
  </tr>
  <% end %>
</table>
<%= paginate @palabras, theme: 'twitter-bootstrap-4' %>
</div>

